USE [ShopQuanAo]
GO
/****** Object:  Table [dbo].[ACOUNT]    Script Date: 7/1/2021 1:23:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ACOUNT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EMAIL] [varchar](250) NOT NULL,
	[MAT_KHAU] [varchar](250) NULL,
	[LINK_ANH] [char](250) NULL,
	[HO_TEN] [nvarchar](50) NOT NULL,
	[PHONE] [char](12) NOT NULL,
	[NGAY_DANG_KY] [datetime] NULL DEFAULT (getdate()),
	[DIA_CHI] [nvarchar](250) NOT NULL,
	[TRANG_THAI] [bit] NULL DEFAULT ((0)),
	[IS_REMOVE] [bit] NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BAI_VIET]    Script Date: 7/1/2021 1:23:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BAI_VIET](
	[MA_BV] [int] IDENTITY(1,1) NOT NULL,
	[TIEU_DE] [nvarchar](250) NOT NULL,
	[MO_TA] [nvarchar](255) NULL,
	[SLUG] [varchar](250) NOT NULL,
	[IMAGES] [varchar](250) NULL,
	[NOI_DUNG] [ntext] NULL,
	[NOI_BAT] [bit] NULL DEFAULT ((0)),
	[TRANG_THAI] [bit] NULL DEFAULT ((0)),
	[NGAY_DANG] [datetime] NULL DEFAULT (getdate()),
	[IS_REMOVE] [bit] NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[MA_BV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHI_TIET_HOA_DON]    Script Date: 7/1/2021 1:23:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_HOA_DON](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_HD] [int] NOT NULL,
	[ID_SP_CT] [int] NOT NULL,
	[SP_SIZE_MAU] [nvarchar](80) NULL,
	[DON_VI_TINH] [nvarchar](30) NULL,
	[SL_MUA] [int] NULL DEFAULT ((0)),
	[GIA_BAN] [decimal](15, 4) NULL DEFAULT ((0)),
	[IS_REMOVE] [bit] NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[COLOR]    Script Date: 7/1/2021 1:23:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[COLOR](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TEN_MAU] [nvarchar](250) NOT NULL,
	[SLUG] [varchar](250) NULL,
	[MA_MAU] [varchar](250) NULL,
	[MA_SP] [char](20) NULL,
	[IMAGES] [varchar](100) NULL,
	[TRANG_THAI] [bit] NULL DEFAULT ((1)),
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOA_DON]    Script Date: 7/1/2021 1:23:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOA_DON](
	[MA_HD] [int] IDENTITY(1,1) NOT NULL,
	[TEN_NHAN_HANG] [nvarchar](50) NULL,
	[NGAY_MUA] [datetime] NULL DEFAULT (getdate()),
	[DIA_CHI_NHAN] [nvarchar](250) NULL,
	[SDT_NHAN] [char](15) NULL,
	[TONG_TIEN] [decimal](15, 4) NULL DEFAULT ((0)),
	[TRANG_THAI] [int] NULL DEFAULT ((1)),
	[GHI_CHU] [nvarchar](250) NULL,
	[IS_REMOVE] [bit] NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[MA_HD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAI_SAN_PHAM]    Script Date: 7/1/2021 1:23:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAI_SAN_PHAM](
	[ID_LOAI_SP] [int] IDENTITY(1,1) NOT NULL,
	[TEN_LOAI_SP] [nvarchar](250) NOT NULL,
	[SLUG] [varchar](250) NOT NULL,
	[TRANG_THAI] [bit] NULL DEFAULT ((1)),
	[ID_CHA] [int] NULL DEFAULT ((0)),
	[NGAY_TAO] [datetime] NULL DEFAULT (getdate()),
	[IS_REMOVE] [bit] NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[ID_LOAI_SP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SAN_PHAM]    Script Date: 7/1/2021 1:23:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SAN_PHAM](
	[MA_SP] [char](20) NOT NULL,
	[ID_LSP] [int] NOT NULL,
	[TEN_SP] [nvarchar](250) NOT NULL,
	[SLUG] [nvarchar](250) NOT NULL,
	[MO_TA] [nvarchar](255) NULL,
	[MO_TA_CHI_TIET] [ntext] NULL,
	[LINK_ANH_CHINH] [varchar](250) NULL,
	[LIST_ANH_KEM] [text] NULL,
	[SO_LUONG_TONG] [int] NULL DEFAULT ((0)),
	[GIA_NHAP] [decimal](15, 4) NOT NULL,
	[GIA_BAN] [decimal](15, 4) NOT NULL,
	[GIAM_GIA] [int] NULL DEFAULT ((0)),
	[DON_VI_TINH] [nvarchar](30) NULL,
	[LUOT_XEM] [int] NULL DEFAULT ((0)),
	[TRANG_THAI] [bit] NULL DEFAULT ((0)),
	[NOI_BAT] [bit] NULL DEFAULT ((0)),
	[NGAY_TAO] [datetime] NULL DEFAULT (getdate()),
	[IS_REMOVE] [bit] NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[MA_SP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SAN_PHAM_CHI_TIET]    Script Date: 7/1/2021 1:23:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SAN_PHAM_CHI_TIET](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ID_SIZE] [int] NOT NULL,
	[ID_COLOR] [int] NOT NULL,
	[MA_SP] [char](20) NOT NULL,
	[SLUG] [nvarchar](80) NOT NULL,
	[SO_LUONG] [int] NULL,
	[TRANG_THAI] [bit] NULL DEFAULT ((0)),
	[NGAY_TAO] [datetime] NULL DEFAULT (getdate()),
	[IS_REMOVE] [bit] NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SIZE]    Script Date: 7/1/2021 1:23:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SIZE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TEN_SIZE] [varchar](50) NULL,
	[SLUG] [varchar](50) NULL,
	[MO_TA] [nvarchar](250) NULL,
	[TRANG_THAI] [bit] NULL DEFAULT ((1)),
	[IS_REMOVE] [bit] NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SLIDE]    Script Date: 7/1/2021 1:23:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SLIDE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TIEU_DE] [nvarchar](250) NULL,
	[LINK] [varchar](250) NOT NULL,
	[IMAGES] [varchar](250) NULL,
	[STT] [tinyint] NULL DEFAULT ((0)),
	[TRANG_THAI] [bit] NULL DEFAULT ((0)),
	[NOI_BAT] [bit] NULL DEFAULT ((0)),
	[NGAY_DANG] [datetime] NULL DEFAULT (getdate()),
	[IS_REMOVE] [bit] NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[STATUS_HOA_DON]    Script Date: 7/1/2021 1:23:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STATUS_HOA_DON](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[STATUS_ORDER] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[ACOUNT] ON 

INSERT [dbo].[ACOUNT] ([ID], [EMAIL], [MAT_KHAU], [LINK_ANH], [HO_TEN], [PHONE], [NGAY_DANG_KY], [DIA_CHI], [TRANG_THAI], [IS_REMOVE]) VALUES (1, N'chuminhhiep0211@gmail.com', N'e10adc3949ba59abbe56e057f20f883e', N'/UploadFileImage/images/88183200_201463857760193_3245455341021822976_n.jpg                                                                                                                                                                                ', N'Chu Minh Hiệp', N'0394599501  ', CAST(N'2021-06-30 22:39:13.603' AS DateTime), N'Ba Vì - Hà Nội', 1, 0)
SET IDENTITY_INSERT [dbo].[ACOUNT] OFF
SET IDENTITY_INSERT [dbo].[BAI_VIET] ON 

INSERT [dbo].[BAI_VIET] ([MA_BV], [TIEU_DE], [MO_TA], [SLUG], [IMAGES], [NOI_DUNG], [NOI_BAT], [TRANG_THAI], [NGAY_DANG], [IS_REMOVE]) VALUES (2, N'Nho Giảm Giá Sản Phẩm Share 90%', N'ăn Ngon ', N'nho-giam-gia-san-pham-share-90', N'/UploadFileImage/images/Nho.jpg', N'<p>Mua nhanh kh&ocirc;ng hết</p>
', 0, 1, CAST(N'2021-06-30 22:25:14.407' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[BAI_VIET] OFF
SET IDENTITY_INSERT [dbo].[CHI_TIET_HOA_DON] ON 

INSERT [dbo].[CHI_TIET_HOA_DON] ([ID], [ID_HD], [ID_SP_CT], [SP_SIZE_MAU], [DON_VI_TINH], [SL_MUA], [GIA_BAN], [IS_REMOVE]) VALUES (1, 1, 24, N'Áo cardigan nam phong cách hàn quốc Size Sđen', N'chiếc', 24, CAST(2000000.0000 AS Decimal(15, 4)), 0)
SET IDENTITY_INSERT [dbo].[CHI_TIET_HOA_DON] OFF
SET IDENTITY_INSERT [dbo].[COLOR] ON 

INSERT [dbo].[COLOR] ([ID], [TEN_MAU], [SLUG], [MA_MAU], [MA_SP], [IMAGES], [TRANG_THAI]) VALUES (1, N'đỏ', N'do', N'#ff0000', N'ANT0000000001       ', N'/UploadFileImage/images/Ao_ni_nu.jpg', NULL)
INSERT [dbo].[COLOR] ([ID], [TEN_MAU], [SLUG], [MA_MAU], [MA_SP], [IMAGES], [TRANG_THAI]) VALUES (2, N'vàng', N'vang', N'#ff0000', N'ANT0000000001       ', N'/UploadFileImage/images/AO_khoac_kaki.jpg', NULL)
INSERT [dbo].[COLOR] ([ID], [TEN_MAU], [SLUG], [MA_MAU], [MA_SP], [IMAGES], [TRANG_THAI]) VALUES (3, N'Tím', N'tim', N'#ff0000', N'ANT0000000002       ', N'/UploadFileImage/images/AO_so_mi_nu_2.jpg', NULL)
SET IDENTITY_INSERT [dbo].[COLOR] OFF
SET IDENTITY_INSERT [dbo].[HOA_DON] ON 

INSERT [dbo].[HOA_DON] ([MA_HD], [TEN_NHAN_HANG], [NGAY_MUA], [DIA_CHI_NHAN], [SDT_NHAN], [TONG_TIEN], [TRANG_THAI], [GHI_CHU], [IS_REMOVE]) VALUES (1, N'Hiệp', CAST(N'2021-07-01 01:09:22.577' AS DateTime), N'Ba vì', N'0394599501     ', CAST(48000000.0000 AS Decimal(15, 4)), 3, N'giao hàng đúng giờ', 0)
SET IDENTITY_INSERT [dbo].[HOA_DON] OFF
SET IDENTITY_INSERT [dbo].[LOAI_SAN_PHAM] ON 

INSERT [dbo].[LOAI_SAN_PHAM] ([ID_LOAI_SP], [TEN_LOAI_SP], [SLUG], [TRANG_THAI], [ID_CHA], [NGAY_TAO], [IS_REMOVE]) VALUES (1, N'Áo nam', N'ao-nam', 1, 0, CAST(N'2021-06-29 23:24:07.320' AS DateTime), 0)
INSERT [dbo].[LOAI_SAN_PHAM] ([ID_LOAI_SP], [TEN_LOAI_SP], [SLUG], [TRANG_THAI], [ID_CHA], [NGAY_TAO], [IS_REMOVE]) VALUES (2, N'Áo Nữ', N'ao-nu', 1, 0, CAST(N'2021-06-29 23:24:23.397' AS DateTime), 0)
INSERT [dbo].[LOAI_SAN_PHAM] ([ID_LOAI_SP], [TEN_LOAI_SP], [SLUG], [TRANG_THAI], [ID_CHA], [NGAY_TAO], [IS_REMOVE]) VALUES (3, N'Quần nam', N'quan-nam', 1, 0, CAST(N'2021-06-29 23:24:43.263' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[LOAI_SAN_PHAM] OFF
SET IDENTITY_INSERT [dbo].[SAN_PHAM_CHI_TIET] ON 

INSERT [dbo].[SAN_PHAM_CHI_TIET] ([ID], [ID_SIZE], [ID_COLOR], [MA_SP], [SLUG], [SO_LUONG], [TRANG_THAI], [NGAY_TAO], [IS_REMOVE]) VALUES (1, 1, 1, N'ANT0000000001       ', N'ao-thun-nu-hello-cute-sid54764-do-size-s', 2000, 0, CAST(N'2021-06-29 23:52:35.417' AS DateTime), 0)
INSERT [dbo].[SAN_PHAM_CHI_TIET] ([ID], [ID_SIZE], [ID_COLOR], [MA_SP], [SLUG], [SO_LUONG], [TRANG_THAI], [NGAY_TAO], [IS_REMOVE]) VALUES (2, 2, 1, N'ANT0000000001       ', N'ao-thun-nu-hello-cute-sid54764-do-size-m', 3000, 0, CAST(N'2021-06-29 23:52:35.567' AS DateTime), 0)
INSERT [dbo].[SAN_PHAM_CHI_TIET] ([ID], [ID_SIZE], [ID_COLOR], [MA_SP], [SLUG], [SO_LUONG], [TRANG_THAI], [NGAY_TAO], [IS_REMOVE]) VALUES (3, 3, 1, N'ANT0000000001       ', N'ao-thun-nu-hello-cute-sid54764-do-size-l', 4000, 0, CAST(N'2021-06-29 23:52:35.583' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[SAN_PHAM_CHI_TIET] OFF
SET IDENTITY_INSERT [dbo].[SIZE] ON 

INSERT [dbo].[SIZE] ([ID], [TEN_SIZE], [SLUG], [MO_TA], [TRANG_THAI], [IS_REMOVE]) VALUES (1, N'Size S', N'size-s', N'Phù hợp với người 40 -45 kg', 1, 0)
INSERT [dbo].[SIZE] ([ID], [TEN_SIZE], [SLUG], [MO_TA], [TRANG_THAI], [IS_REMOVE]) VALUES (2, N'Size M', N'size-m', N'Phù hợp với người 45 -50 kg', 1, 0)
INSERT [dbo].[SIZE] ([ID], [TEN_SIZE], [SLUG], [MO_TA], [TRANG_THAI], [IS_REMOVE]) VALUES (3, N'Size L', N'size-l', N'Phù hợp với người 50 60 kg', 1, 0)
SET IDENTITY_INSERT [dbo].[SIZE] OFF
SET IDENTITY_INSERT [dbo].[SLIDE] ON 

INSERT [dbo].[SLIDE] ([ID], [TIEU_DE], [LINK], [IMAGES], [STT], [TRANG_THAI], [NOI_BAT], [NGAY_DANG], [IS_REMOVE]) VALUES (1, N'Tin Tức Giảm Giá Sản Phẩm Share 90%', N'stin-tuc-giam-giam.com', N'/UploadFileImage/images/Slide2.jpg', 1, 1, 0, CAST(N'2021-06-30 21:24:49.187' AS DateTime), 0)
INSERT [dbo].[SLIDE] ([ID], [TIEU_DE], [LINK], [IMAGES], [STT], [TRANG_THAI], [NOI_BAT], [NGAY_DANG], [IS_REMOVE]) VALUES (2, N'Tin Tức Giảm Giá Sản Phẩm Share 90% Nhân Dịp Mùa Hè Nóng Nực', N'stin-tuc-giam-giam.com', N'/UploadFileImage/images/Slide1.jpg', 2, 1, 0, CAST(N'2021-06-30 21:25:19.520' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[SLIDE] OFF
SET IDENTITY_INSERT [dbo].[STATUS_HOA_DON] ON 

INSERT [dbo].[STATUS_HOA_DON] ([ID], [STATUS_ORDER]) VALUES (1, N'Đặt Hàng')
INSERT [dbo].[STATUS_HOA_DON] ([ID], [STATUS_ORDER]) VALUES (2, N'Giao Hàng')
INSERT [dbo].[STATUS_HOA_DON] ([ID], [STATUS_ORDER]) VALUES (3, N'Hoàn Thành')
SET IDENTITY_INSERT [dbo].[STATUS_HOA_DON] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__BAI_VIET__A43AD45C9B3E6311]    Script Date: 7/1/2021 1:23:44 AM ******/
ALTER TABLE [dbo].[BAI_VIET] ADD UNIQUE NONCLUSTERED 
(
	[SLUG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Trigger [dbo].[TRG_DELETE_SO_LUONG_CHI_TIET_SP]    Script Date: 7/1/2021 1:23:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TRG_DELETE_SO_LUONG_CHI_TIET_SP] ON [dbo].[SAN_PHAM_CHI_TIET] FOR DELETE AS 
	BEGIN
		UPDATE SAN_PHAM SET SO_LUONG_TONG = SO_LUONG_TONG - (SELECT SO_LUONG FROM deleted WHERE deleted.MA_SP = SAN_PHAM.MA_SP) 
		FROM SAN_PHAM  JOIN deleted  ON SAN_PHAM.MA_SP = deleted.MA_SP
	END
GO
/****** Object:  Trigger [dbo].[TRG_INSERT_SO_LUONG_CHI_TIET_SP]    Script Date: 7/1/2021 1:23:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TRG_INSERT_SO_LUONG_CHI_TIET_SP] ON [dbo].[SAN_PHAM_CHI_TIET] AFTER INSERT AS 
	BEGIN
		UPDATE SAN_PHAM SET SO_LUONG_TONG = SO_LUONG_TONG + (SELECT SO_LUONG FROM inserted WHERE inserted.MA_SP = SAN_PHAM.MA_SP) 
		FROM SAN_PHAM  JOIN inserted  ON SAN_PHAM.MA_SP = inserted.MA_SP
	
	END

GO
/****** Object:  Trigger [dbo].[TRG_UPDATE_SO_LUONG_CHI_TIET_SP]    Script Date: 7/1/2021 1:23:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TRG_UPDATE_SO_LUONG_CHI_TIET_SP] on [dbo].[SAN_PHAM_CHI_TIET] after update AS
	BEGIN
		UPDATE SAN_PHAM SET SO_LUONG_TONG = SO_LUONG_TONG + (SELECT SO_LUONG FROM inserted WHERE inserted.MA_SP = SAN_PHAM.MA_SP) -
		(SELECT SO_LUONG FROM deleted WHERE deleted.MA_SP = SAN_PHAM.MA_SP)
		FROM SAN_PHAM  JOIN deleted  ON SAN_PHAM.MA_SP = deleted.MA_SP
	end

GO
