@model IEnumerable<Models.EntityFramework.BAI_VIET>

@foreach (var item in Model)
{
    <div class="posts-i">
        <a class="posts-i-img" href="post.html">
            <span style="background: url(@item.IMAGES)"></span>
        </a>
        <time class="posts-i-date" datetime="2016-11-09 00:00:00"><span>30</span> Jan</time>
        <div class="posts-i-info">
            <a href="blog.html" class="posts-i-ctg">@item.TIEU_DE</a>
            @*<h3 class="posts-i-ttl">
                <a href="post.html">Animi quaerat at</a>
            </h3>*@
        </div>
    </div>
}
