@model IEnumerable<Models.EntityFramework.SLIDE>

@foreach (var item in Model)
{
    <li>
        <img src="@item.IMAGES" style="width:100%;" alt="@item.NGAY_DANG">
        <div class="fr-slider-cont">
            <h3>@item.TIEU_DE</h3>
            
            <p class="fr-slider-more-wrap">
                <a class="fr-slider-more"  href="@item.LINK">View collection</a>
            </p>
        </div>
    </li>
}