@model ShopQuanAo.Objects.CustomerLogin
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <section class="container stylization maincont">


        <ul class="b-crumbs">
            <li>
                <a href="index.html">
                    Home
                </a>
            </li>
            <li>
                <span>Registration / Login</span>
            </li>
        </ul>
        <h1 class="main-ttl"><span>Registration / Login</span></h1>
        <div class="auth-wrap">
            <div class="auth-col">
                <h2>Login</h2>
                @using (Html.BeginRouteForm("RouteClient", new { action = "Login" }, FormMethod.Post, new { @class = "login" }))
                {

                    <p style="display:flex;">
                        <label for="reg_email">Tài Khoản : <span class="required">*</span></label>
                        @Html.EditorFor(model => model.TaiKhoan, new { htmlAttributes = new { @class = "form-control" } })
                    </p>
                    <p style="display:flex;">
                        <label for="reg_password">Mật Khẩu :<span class="required">*</span></label>
                        @Html.PasswordFor(model => model.MatKhau, new { htmlAttributes = new { @class = "form-control" } })
                    </p>
                    <p class="auth-submit">
                        <input type="submit" value="Login">
                       
                        <input type="checkbox" id="rememberme" value="forever">
                        <label for="rememberme">Remember me</label>
                    </p>

                    <span style="color:red;">
                        @ViewBag.AddModelError
                    </span>
                    <p class="auth-lost_password">
                        <a href="@Url.RouteUrl("RouteClient" , new { action = "Register" })">Đăng ký</a>
                    </p>
                }

            </div>
          
        </div>



    </section>



